In [1]:
tup = (4,None,'foo')
tup + (6,0)

(4, None, 'foo', 6, 0)

In [2]:
tup

(4, None, 'foo')

In [3]:
tup = tup + (6,0)

In [4]:
tup

(4, None, 'foo', 6, 0)

In [6]:
seq = [(1,2,3),(1,2,3)]
seq[0] ='d'
seq

['d', (1, 2, 3)]

In [7]:
seq = [(1,2,3),(1,2,3)]
seq[0][1] = 'd'

TypeError: 'tuple' object does not support item assignment

In [34]:
values = [1,2,3,4,5,1]
a,b,*c =values
c

[3, 4, 5, 1]

In [35]:
values.pop(1)

2

In [45]:
a = values.extend({1})

In [46]:
a = values.sort()

In [48]:
values

[1, 1, 1, 1, 1, 2, 3, 4, 5]

In [49]:
values = "string"

In [55]:
values[0:7]

'string'

In [56]:
values

'string'

In [4]:
mapping = dict(zip(range(5), reversed(range(5))))

In [10]:
value = mapping.get(5,"dar")

In [11]:
value

'dar'

In [12]:
a = {1,2,3,4,5,6}
b = {7,8,9}
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
a

{1, 2, 3, 4, 5, 6}

In [14]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
a

{1, 2, 3, 4, 5, 6}

In [16]:
a = {[1,2,3]}

TypeError: unhashable type: 'list'

In [17]:
a = {1,2,3}

In [19]:
a = set([1,2,3])

In [20]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [24]:
my_function(y=6, z=7, x=5)

77

In [26]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
'south carolina##', 'West virginia?']

import re
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
            result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Alabama',
 'Alabama',
 'Georgia!',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'georgia',
 'georgia',
 'Georgia',
 'FlOrIda',
 'FlOrIda',
 'Florida',
 'south carolina##',
 'south carolina',
 'South Carolina',
 'West virginia?',
 'West virginia',
 'West Virginia']

# tuple

In [27]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [28]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [29]:
tuple([4, 0, 2])

(4, 0, 2)

In [30]:
tup = tuple('string')

In [31]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [32]:
tup[0]

's'

In [33]:
tup = tuple(['foo', [1, 2], True])

In [34]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [35]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [36]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [37]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [38]:
tup = 4, 5, 6
a, b, c = tup

In [39]:
b

5

In [40]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

In [41]:
d

7

In [42]:
tmp = a
a = b
b = tmp

In [44]:
a, b = 1, 2
a,b

(1, 2)

In [45]:
b, a = a, b
a,b

(2, 1)

In [46]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [47]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b,rest

(1, 2, [3, 4, 5])

In [48]:
a, b, *_ = values

In [49]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

# list

In [137]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [138]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [139]:
gen = range(10)
gen

range(0, 10)

In [140]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [141]:
b_list

['foo', 'peekaboo', 'baz']

In [142]:
b_list.append('dwarf')

In [143]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [144]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [145]:
b_list.pop()
b_list

['foo', 'red', 'peekaboo', 'baz']

In [62]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [63]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [64]:
'dwarf' in b_list

True

In [65]:
'dwarf' not in b_list

False

In [66]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [67]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [69]:
# everything = []
# for chunk in list_of_lists:
#     everything.extend(chunk)

In [70]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [71]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [72]:
a = [7, 2, 5, 1, 3]
b = sorted(a)
a

[7, 2, 5, 1, 3]

In [73]:
b

[1, 2, 3, 5, 7]

In [74]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c,2)

4

In [75]:
bisect.bisect(c,5)

6

In [76]:
bisect.insort(c,6)

In [77]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [78]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [80]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 3, 5, 6, 0, 1]

In [81]:
seq[:5]

[7, 2, 3, 6, 3]

In [82]:
seq[3:]

[6, 3, 3, 5, 6, 0, 1]

In [83]:
seq[-4:]

[5, 6, 0, 1]

In [84]:
seq[-6:-2]

[3, 3, 5, 6]

In [85]:
seq[::2]

[7, 3, 3, 5, 0]

In [86]:
seq[::-1]

[1, 0, 6, 5, 3, 3, 6, 3, 2, 7]

In [87]:
seq[1:6:2]

[2, 6, 3]

In [90]:
seq[:-1]

[7, 2, 3, 6, 3, 3, 5, 6, 0]

# Built-in Sequence Functions

In [91]:
i = 0
collection = [1, 2, 3]
for value in collection:
# do something with value
    print(i)
    i += 1

0
1
2

In [93]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [94]:
a = [7, 2, 5, 1, 3]
b = sorted(a)

In [95]:
a

[7, 2, 5, 1, 3]

In [96]:
b

[1, 2, 3, 5, 7]

In [97]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [98]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [111]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
zipped

In [102]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [104]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [105]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

for i, (a,b) in enumerate(zip(seq1,seq2)):
    print('{0}: {1},{2}'.format(i,a,b))

0: foo,one
1: bar,two
2: baz,three

In [106]:
pitchers = [('Nolan', 'Ryan'),
('Roger', 'Clemens'),
('Schilling', 'Curt')]

first_names, lastnames = zip(*pitchers)
first_names

('Nolan', 'Roger', 'Schilling')

In [107]:
lastnames

('Ryan', 'Clemens', 'Curt')

In [108]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [109]:
reversed(range(10))

# dict

In [268]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [114]:
d1[7] = 'an_integer'

In [115]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an_integer'}

In [116]:
d1['b']

[1, 2, 3, 4]

In [117]:
'b' in d1

True

In [118]:
'some value' in d1

False

In [129]:
d1[5] = 'some value'
d1['dummy'] = 'another value'

In [130]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an_integer',
 5: 'some value',
 'dummy': 'another value'}

In [131]:
del d1[5]

In [132]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an_integer',
 'dummy': 'another value'}

In [134]:
ret = d1.pop('dummy')

In [135]:
ret

'another value'

In [136]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an_integer'}

In [147]:
list(d1.keys())

['a', 'b', 7]

In [152]:
list(d1.values())
d1.values()

dict_values(['some value', 'foo', 'an_integer', 12])

In [149]:
d1.update({'b':'foo', 'c': 12})

In [150]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an_integer', 'c': 12}

In [154]:
# mapping = {}
# for key, value in zip(key_list, value_list):
#     mapping[key] = value

In [155]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [156]:
# if key in some_dict:
#     value = some_dict[key]
# else:
#     value = default_value

In [157]:
# value = some_dict.get(key, default_value)
# value = some_dict.pop(key, default_value)

In [161]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [159]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [164]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    by_letter.setdefault(word[0],[]).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [169]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
dict(by_letter)

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [170]:
hash('string')

8503432743670610197

In [171]:
hash((1, 2, (2, 3)))

1097636502276347782

In [172]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [173]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

# 집합

In [174]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [175]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [176]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [177]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [178]:
a.intersection(b)

{3, 4, 5}

In [179]:
a & b

{3, 4, 5}

In [180]:
c = a.copy()
c |= b

In [181]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [182]:
d = a.copy()
d &= b

In [183]:
d

{3, 4, 5}

In [185]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [186]:
a_set = {1, 2, 3, 4, 5}
{1,2,3}.issubset(a_set)

True

In [187]:
a_set.issuperset({1,2,3})

True

In [188]:
{1,2,3} == {3,2,1}

True

In [189]:
# result = []
# for val in collection:
#     if condition:
#         result.append(expr)

In [190]:
# [expr for val in collection if condition]

In [191]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [192]:
# set_comp = {expr for value in collection if condition}

In [193]:
# dict_comp = {key-expr : value-expr for value in collection if condition}

In [194]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
unique_lengths = {len(x) for x in strings}

In [195]:
unique_lengths

{1, 2, 3, 4, 6}

In [196]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [197]:
loc_mapping = {val : index for index , val in enumerate(strings)}

In [198]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [199]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
['Maria', 'Juan', 'Jevier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

In [200]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [201]:
result

['Steven', 'Jevier']

In [202]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]

In [203]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [204]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [205]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [206]:
[list(tup) for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Functions

In [207]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [208]:
my_function(5, 6, z=0.7) 
my_function(3.14, 7, 3.5) 
my_function(10, 20)
my_function(x=5, y=6, z=7)
my_function(y=6, x=5, z=7)

77

In [209]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [211]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [212]:
a = [1, 2]
def bind_a_variable():
    global a
    a = [3, 4]
bind_a_variable()
print(a)

[3, 4]

In [213]:
a = [1, 2]
def bind_a_variable():
    a = [3, 4]
bind_a_variable()
print(a)

[1, 2]

In [214]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c
a, b, c = f()

In [215]:
a,b,c

(5, 6, 7)

In [216]:
return_value = f()
return_value

(5, 6, 7)

In [217]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
return_value = f()
return_value

{'a': 5, 'b': 6, 'c': 7}

In [219]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda','south carolina##', 'West virginia?']
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [220]:
clean_strings(strings)

['A', 'As', 'Bat', 'Car', 'Dove', 'Python']

In [221]:
import re
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
            result.append(value)
    return result

In [222]:
clean_strings(states, clean_ops)

['Alabama',
 'Alabama',
 'Alabama',
 'Georgia!',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'georgia',
 'georgia',
 'Georgia',
 'FlOrIda',
 'FlOrIda',
 'Florida',
 'south carolina##',
 'south carolina',
 'South Carolina',
 'West virginia?',
 'West virginia',
 'West Virginia']

In [223]:
for x in map(remove_punctuation, states):
    print(x)

 Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

In [224]:
def short_function(x):
    return x * 2
short_function(1) 

equiv_anon = lambda x:x * 2
equiv_anon(1)

2

In [225]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6] 
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [229]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [230]:
def add_numbers(x, y):
    return x + y
add_five = lambda y: add_numbers(5, y)
add_five(1)

6

In [231]:
from functools import partial
add_five = partial(add_numbers, 5)
add_five(1)

6

In [233]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [234]:
dict_iterator = iter(some_dict)

In [235]:
dict_iterator

In [236]:
next(dict_iterator) 
next(dict_iterator) 
next(dict_iterator) 
next(dict_iterator)

StopIteration:

In [237]:
list(some_dict)

['a', 'b', 'c']

In [239]:
dict_iterator = iter(some_dict)
list(dict_iterator)

['a', 'b', 'c']

In [240]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [258]:
gen = squares()
gen

In [259]:
for x in gen:
    print(x, end= ' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [274]:
gen = (x ** 2 for x in range(100))
gen

In [261]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [262]:
sum(x ** 2 for x in range(100))

328350

In [272]:
dict((i, i** 2 )for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [275]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, seq in itertools.groupby(names, first_letter):
    print(letter, list(seq)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

# 예외처리

In [289]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

attempt_float('1.2345')

1.2345

In [284]:
attempt_float('something')

'something'

In [301]:
def attempt_float(x):
    try:
        return float(x)
    except  (ValueError, TypeError):      
        return x

In [302]:
attempt_float((1, 2))

(1, 2)