In [18]:
import numpy as np

In [19]:
data = {i : np.random.randn() for i in range(7)}

In [20]:
data

{0: 0.4164268822811359,
 1: 2.2093283994635287,
 2: 2.0079117314632624,
 3: 1.2393410220458407,
 4: -0.8045284751852374,
 5: -0.564460501023747,
 6: -1.540302439298411}

In [21]:
print(data)

{0: 0.4164268822811359, 1: 2.2093283994635287, 2: 2.0079117314632624, 3: 1.2393410220458407, 4: -0.8045284751852374, 5: -0.564460501023747, 6: -1.540302439298411}

In [27]:
# 
# an_apple = 27
# an_example =42
# b = [1,2,3]
# import datetime

#

'\nan_apple = 27\nan_example =42\nb = [1,2,3]\nimport datetime\n\n'

In [28]:
# 
# b?
# Type:        list
# String form: [1, 2, 3]
# Length:      3
# Docstring:  
# Built-in mutable sequence.

# If no argument is given, the constructor creates a new empty list.
# The argument must be an iterable if specified.

#

'\nb?\nType:        list\nString form: [1, 2, 3]\nLength:      3\nDocstring:  \nBuilt-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.\n\n'

In [29]:
# 
# print?
# Docstring:
# print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

# Prints the values to a stream, or to sys.stdout by default.
# Optional keyword arguments:
# file:  a file-like object (stream); defaults to the current sys.stdout.
# sep:   string inserted between values, default a space.
# end:   string appended after the last value, default a newline.
# flush: whether to forcibly flush the stream.
# Type:      builtin_function_or_method

#

"\nprint?\nDocstring:\nprint(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream.\nType:      builtin_function_or_method\n\n"

In [30]:
# 
# def add_numbers(a,b):
    
#     add two numbers together
#     return
    
#     the sum : type of arguments
  
#     return a + b

#

'\ndef add_numbers(a,b):\n    \n    add two numbers together\n    return\n    \n    the sum : type of arguments\n  \n    return a + b\n\n'

In [33]:

#    add_numbers?

#    Signature: add_numbers(a, b)
#    Docstring:
#    add two numbers together
#     return

#     the sum : type of arguments
#     File:      c:\users\ubicomp_lab\<ipython-input-36-46420f73eb8f>
#     Type:      function

In [1]:
#%run ipython_script_test.py

In [2]:
#c

7.5

In [3]:
#result

1.4666666666666666

In [7]:
# for x in array:
#     if x < pivot:
#         less.append(x)
#     else: 
#         greater.append(x)
#

'for x in array:\n    if x < pivot:\n        less.append(x)\n    else: \n        greater.append(x)'

In [34]:
a = 5; b = 6; c = 7

In [35]:
# result = f(x, y, z)
# g()
# obj.some_method(x, y, z)
# result = f(a, b, c, d=5, e='foo')

In [36]:
a = [1,2,3]

In [37]:
b = a

In [38]:
a.append(4)

In [39]:
b

[1, 2, 3, 4]

In [40]:
def append_element(some_list, element):
    some_list.append(element)
    
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [42]:
def append_element(some_list, element):
    newdata = some_list
    newdata.append(element)
    
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [52]:
newdata = [1,2,3]

def append_element(element):
    newdata.append(element)

append_element(4)
newdata

[1, 2, 3, 4]

In [53]:
a = 4.5
b = 2
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

In [54]:
a/b

2.25

In [55]:
a = 5; b = 4.5
isinstance(a,(int,float))

True

In [56]:
isinstance(b, float)

True

In [58]:
a = 'fpp'
getattr(a,'split')

In [63]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [64]:
isiterable('a string')

True

In [65]:
isiterable([1,2,3])

True

In [66]:
isiterable(5)

False

In [71]:
x = 'a string'
if not isinstance(x, list) and isiterable(x):
    x = list(x)
    print('x')

x

In [72]:
# import some_module
# result = some_module.f(5)
# pi = some_module.PI
# from some_module import f, g, PI
# result = g(5, PI)
# import some_module as sm
# from some_module import PI as pi, g as gf
# r1 = sm.f(pi)
# r2 = gf(6, pi)

In [73]:
5 - 7

-2

In [74]:
12 + 21.5

33.5

In [75]:
5 <= 2

False

In [76]:
a = [1,2,3]
b = a
c = list(a)

In [77]:
a is b

True

In [78]:
a is not c

True

In [79]:
a == c

True

In [81]:
a = None

In [82]:
a is None

True

In [86]:
a_list = ['foo', 2, [4, 5]]
a_list[2][0] = (3, 4)

In [87]:
a_list

['foo', 2, [(3, 4), 5]]

In [88]:
a_tuple = (3, 5, (4, 5))

In [90]:
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

In [91]:
a_tuple = (3, 5, [4, 5])
a_tuple[2][0] = 'four'

In [92]:
a_tuple

(3, 5, ['four', 5])

In [93]:
3 / 2

1.5

In [94]:
3 // 2

1

In [95]:
c = """
This is a longer string that spans
multiple lines
"""

In [96]:
c.count('\n')

3

In [97]:
a = 'this is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

In [98]:
b = a.replace('string', 'longer string')

In [99]:
b

'this is a longer string'

In [100]:
a

'this is a string'

In [101]:
a = 5.6
s = str(a)
print(s)

5.6

In [104]:
print(a)

5.6

In [105]:
type(a)

float

In [106]:
type(s)

str

In [107]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [108]:
s

'python'

In [109]:
s[:3]

'pyt'

In [110]:
s = '12\\34'
print(s)

12\34

In [111]:
s = r'this\has\no\special\characters'
print(s)

this\has\no\special\characters

In [112]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

'this is the first half and this is the second half'

In [113]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(4.2260,'Argentine',1)

'4.23 Argentine are worth US$1'

In [114]:
True and True

True

In [116]:
False or True

True

In [117]:
s = '3.14159'
fval = float(s)

In [118]:
type(fval)

float

In [119]:
int(fval)

3

In [122]:
bool(fval)

True

In [124]:
bool(0)

False

In [125]:
a = None
a is None

True

In [126]:
b = 5
b is not None

True

In [128]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
    
    return result

In [129]:
type(None)

NoneType

In [130]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20,30,21)
dt.day

29

In [131]:
dt.minute

30

In [132]:
dt.date()

datetime.date(2011, 10, 29)

In [133]:
dt.time()

datetime.time(20, 30, 21)

In [135]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [136]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [145]:
x = 0
if x < 0:
    print("it's negative")
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

Equal to zero

In [152]:
a = 5; b = 7
c = 8; d = 4
if a < b and c > d:
    print('Made it')

Made it

In [147]:
4 > 3 > 2 > 1

True

In [153]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total

12

In [160]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [161]:
for i in range(2):
    for j in range(2):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)

In [173]:
sequence = [[10, 20], [30, 40], [50, 60]]
for a, b in sequence:
    print(a,b)

10 20
30 40
50 60

In [174]:
x=256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x//2
total

504

In [175]:
x = 0
if x < 0:
    print('negative!')
elif x == 0:
    # TODO: put something smart here
    pass
else:
    print('positive!')

In [176]:
range(10)

range(0, 10)

In [177]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [179]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [180]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [181]:
seq=[1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
val

4

In [183]:
# value = true-expr if condition else false-expr
# if condition:
#     value = true-expr
# else:
#     value = false-expr
x = 5
'Non-negative' if x <= 0 else 'Negative'

'Negative'